/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(reset.css);
body {
  font-size: 0.625em;
  max-width: 130em;
  font-family: helvetica;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  body h1,
  body h2,
  body a,
  body p {
    line-height: 1.4em;
    text-align: justify; }
  body p,
  body a {
    font-family: "lexia", serif; }
  body h2,
  body h3 {
    color: #A67B4D;
    font-family: "proxima-nova",serif; }
  body a {
    text-decoration: none;
    color: #60B6FF; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (min-width: 400px) and (max-width: 699px) {
  .main {
    width: 90%;
    margin: 0 auto; }

  .navbar {
    background-color: #366080;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 1.7em;
    padding-top: 0.1em; }
    .navbar li {
      display: inline-block; }
    .navbar a {
      padding-right: 2%; }
    .navbar .left {
      margin-left: 2%;
      float: left; }
    .navbar .right {
      margin-right: 2%;
      float: right; }

  .jumbotron {
    background-image: url("/assets/lower_bolton_lake.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 8.6em;
    padding-top: 4em;
    -webkit-border-bottom-right-radius: 1.36em;
    -webkit-border-bottom-left-radius: 1.36em;
    -moz-border-radius-bottomright: 1.36em;
    -moz-border-radius-bottomleft: 1.36em;
    border-bottom-right-radius: 1.36em;
    border-bottom-left-radius: 1.36em; }
    .jumbotron .logo {
      padding: 0 0 0 0em;
      width: 65%;
      height: 2.2em;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden; }
    .jumbotron h1 {
      display: block;
      font-size: 2.5em;
      margin: -0.245em 0.08em 0 0;
      color: #36607D;
      text-align: right;
      font-family: "lobster"; }
    .jumbotron .tag-line {
      margin-top: 0.5em;
      margin-left: 9%;
      width: 70%;
      height: 1em;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden; }
    .jumbotron p {
      font-size: 0.8em;
      margin: -0.0em 0.2em -0.3em 0;
      color: #36607D;
      text-align: right; }

  .container {
    width: 100%; }

  article {
    width: 100%; }

  .content {
    margin: 0.3em;
    padding: 1.1em; }
    .content img {
      width: 70%;
      margin: 0 15%;
      padding-bottom: 0.4em;
      -webkit-border-radius: 0.8em;
      -moz-border-radius: 0.8em;
      -ms-border-radius: 0.8em;
      border-radius: 0.8em; }
    .content h2 {
      font-size: 1.6em;
      margin-bottom: 0.6em;
      text-align: center; }
    .content p {
      font-size: 0.8em;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      text-overflow: hidden;
      text-indent: 1.4em;
      margin-top: 0.3em; }

  aside {
    width: 90%; }
    aside .closures {
      width: 90%;
      overflow: hidden;
      float: left;
      margin-top: 1.3em;
      margin-left: 10%;
      border: 2px solid #828C92;
      padding: 0.4em;
      -webkit-border-radius: 0.8em;
      -moz-border-radius: 0.8em;
      -ms-border-radius: 0.8em;
      border-radius: 0.8em; }
      aside .closures h3 {
        float: left;
        font-size: 1.2em;
        margin-top: 0.1em;
        margin-bottom: 0.8em; }
      aside .closures ul {
        margin-top: 0.4em;
        float: right;
        padding-top: 4em; }
      aside .closures a {
        display: block;
        margin-bottom: 0.1em;
        color: gray;
        font-size: 0.8em;
        text-align: right; }
    aside .shelters {
      width: 90%;
      overflow: hidden;
      float: right;
      margin-top: 1.5em;
      margin-left: 10%;
      border: 2px solid #828C92;
      padding: 0.4em;
      -webkit-border-radius: 0.8em;
      -moz-border-radius: 0.8em;
      -ms-border-radius: 0.8em;
      border-radius: 0.8em; }
      aside .shelters h3 {
        float: left;
        width: 7em;
        font-size: 1.2em;
        margin-top: 0.1em;
        margin-bottom: 0.8em; }
      aside .shelters ul {
        width: 157px;
        float: right;
        padding-top: 4em; }
      aside .shelters li {
        float: left; }
      aside .shelters a {
        text-align: right;
        display: block;
        width: 75px;
        height: 75px;
        color: black;
        font-size: 0.85em; }
      aside .shelters .one,
      aside .shelters .two,
      aside .shelters .three,
      aside .shelters .four {
        -webkit-border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -ms-border-radius: 0.8em;
        border-radius: 0.8em; }
      aside .shelters .one {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 0.4em;
        margin-bottom: 0.4em; }
      aside .shelters .two {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 0.4em; }
      aside .shelters .three {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; }
      aside .shelters .four {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 0.4em; } }
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .main {
    width: 83.333%;
    margin: 0 auto; }

  .navbar {
    background-color: #366080;
    width: 83.333%;
    margin-left: auto;
    margin-right: auto;
    height: 1.7em;
    padding-top: 0.1em;
    font-size: 1.2em; }
    .navbar li {
      display: inline-block; }
    .navbar a {
      padding-right: 3.5%; }
    .navbar .left {
      margin-left: 3.5%;
      float: left; }
    .navbar .right {
      margin-right: 3.5%;
      float: right; }

  .jumbotron {
    background-image: url("/assets/lower_bolton_lake.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 14em;
    padding-top: 6em;
    -webkit-border-bottom-right-radius: 1.36em;
    -webkit-border-bottom-left-radius: 1.36em;
    -moz-border-radius-bottomright: 1.36em;
    -moz-border-radius-bottomleft: 1.36em;
    border-bottom-right-radius: 1.36em;
    border-bottom-left-radius: 1.36em; }
    .jumbotron .logo {
      padding: 0 0 0 2em;
      width: 60%;
      height: 3.3em;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden; }
    .jumbotron h1 {
      display: block;
      font-size: 3.7em;
      margin: -0.245em 0.1em -1em 0;
      color: #36607D;
      text-align: right;
      font-family: "lobster", serif; }
    .jumbotron .tag-line {
      margin-top: 0.5em;
      margin-left: 10%;
      width: 60%;
      height: 1.45em;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden; }
    .jumbotron p {
      font-size: 1.1em;
      margin: -0.1em 0.2em -0.3em 0;
      color: #36607D;
      text-align: right; }

  .container {
    width: 100%; }

  article {
    width: 60%;
    float: right; }

  .content {
    margin: 0.3em;
    padding: 1.1em; }
    .content img {
      width: 45%;
      float: right;
      margin-left: 0.8em;
      margin-bottom: 0.4em;
      -webkit-border-radius: 0.8em;
      -moz-border-radius: 0.8em;
      -ms-border-radius: 0.8em;
      border-radius: 0.8em; }
    .content h2 {
      font-size: 1.6em;
      margin-bottom: 0.6em;
      font-variant: italic;
      padding-left: 0.6em; }
    .content p {
      font-size: 0.85em;
      width: 95%;
      margin-right: 5%;
      text-overflow: hidden;
      text-indent: 1.4em; }

  aside {
    width: 30%; }
    aside .closures {
      width: 95%;
      overflow: hidden;
      float: left;
      margin-top: 1.3em;
      margin-left: 5%;
      border: 2px solid #828C92;
      padding: 0.4em;
      -webkit-border-radius: 0.8em;
      -moz-border-radius: 0.8em;
      -ms-border-radius: 0.8em;
      border-radius: 0.8em; }
      aside .closures h3 {
        float: left;
        font-size: 1.2em;
        margin-top: 0.1em;
        margin-bottom: 0.8em; }
      aside .closures ul {
        margin-top: 0.4em;
        float: right;
        padding-top: 4em; }
      aside .closures a {
        display: block;
        margin-bottom: 0.1em;
        color: gray;
        font-size: 0.8em;
        text-align: right; }
    aside .shelters {
      width: 95%;
      overflow: hidden;
      float: right;
      margin-top: 1.5em;
      margin-left: 5%;
      border: 2px solid #828C92;
      padding: 0.4em;
      -webkit-border-radius: 0.8em;
      -moz-border-radius: 0.8em;
      -ms-border-radius: 0.8em;
      border-radius: 0.8em; }
      aside .shelters h3 {
        float: left;
        width: 7em;
        font-size: 1.2em;
        margin-top: 0.1em;
        margin-bottom: 0.8em; }
      aside .shelters ul {
        width: 157px;
        float: right;
        padding-top: 2em; }
      aside .shelters li {
        float: left; }
      aside .shelters a {
        text-align: right;
        display: block;
        width: 75px;
        height: 75px;
        color: black;
        font-size: 0.85em; }
      aside .shelters .one,
      aside .shelters .two,
      aside .shelters .three,
      aside .shelters .four {
        -webkit-border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -ms-border-radius: 0.8em;
        border-radius: 0.8em; }
      aside .shelters .one {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 0.4em;
        margin-bottom: 0.4em; }
      aside .shelters .two {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 0.4em; }
      aside .shelters .three {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; }
      aside .shelters .four {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 0.4em; }

  .error {
    font-size: 0.8em;
    color: red;
    display: none;
    font-style: italic; } }
@media screen and (min-width: 1001px) and (max-width: 1300px) {
  .main {
    width: 83.333%;
    margin: 0 auto; }

  .navbar {
    background-color: #366080;
    width: 83.333%;
    margin-left: auto;
    margin-right: auto;
    height: 1.9em;
    padding-top: 0.16em;
    font-size: 1.4em; }
    .navbar li {
      display: inline-block; }
    .navbar a {
      padding-right: 2%; }
    .navbar .left {
      margin-left: 2%;
      float: left;
      margin-right: 2%; }
    .navbar .right {
      margin-right: 2%;
      float: right;
      margin-left: 2%; }

  .jumbotron {
    background-image: url("/assets/lower_bolton_lake.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 20.1em;
    padding-top: 12em;
    -webkit-border-bottom-right-radius: 1.36em;
    -webkit-border-bottom-left-radius: 1.36em;
    -moz-border-radius-bottomright: 1.36em;
    -moz-border-radius-bottomleft: 1.36em;
    border-bottom-right-radius: 1.36em;
    border-bottom-left-radius: 1.36em; }
    .jumbotron .logo {
      padding: 0 0 0 2em;
      width: 60%;
      height: 4.1em;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden; }
    .jumbotron h1 {
      display: block;
      font-size: 5em;
      margin: -0.29em 0.08em -0.5em 0;
      color: #36607D;
      text-align: right;
      font-family: "lobster",serif; }
    .jumbotron .tag-line {
      margin-top: 0.5em;
      margin-left: 10%;
      width: 60%;
      height: 1.45em;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden; }
    .jumbotron p {
      font-size: 1.35em;
      margin: -0.17em 0.2em -0.3em 0;
      color: #36607D;
      text-align: right; }

  .container {
    width: 100%; }

  article {
    width: 60%;
    float: right; }

  .content {
    margin: 0.3em;
    padding: 1.1em; }
    .content img {
      width: 45%;
      float: right;
      margin-left: 0.8em;
      margin-bottom: 0.4em;
      -webkit-border-radius: 0.8em;
      -moz-border-radius: 0.8em;
      -ms-border-radius: 0.8em;
      border-radius: 0.8em; }
    .content h2 {
      font-size: 1.6em;
      margin-bottom: 0.6em;
      font-variant: italic; }
    .content p {
      font-size: 0.85em;
      width: 95%;
      text-overflow: hidden;
      text-indent: 1.4em; }

  aside {
    width: 30%; }
    aside .closures {
      width: 100%;
      overflow: hidden;
      float: left;
      margin-top: 1.3em;
      margin-left: 10%;
      border: 2px solid #828C92;
      padding: 0.4em;
      -webkit-border-radius: 0.8em;
      -moz-border-radius: 0.8em;
      -ms-border-radius: 0.8em;
      border-radius: 0.8em; }
      aside .closures h3 {
        float: left;
        font-size: 1.2em;
        margin-top: 0.1em;
        margin-bottom: 0.8em; }
      aside .closures ul {
        margin-top: 0.4em;
        float: right;
        padding-top: 4em; }
      aside .closures a {
        display: block;
        margin-bottom: 0.1em;
        color: gray;
        font-size: 0.8em;
        text-align: right; }
    aside .shelters {
      width: 100%;
      overflow: hidden;
      float: left;
      margin-top: 1.5em;
      margin-left: 10%;
      border: 2px solid #828C92;
      padding: 0.4em;
      -webkit-border-radius: 0.8em;
      -moz-border-radius: 0.8em;
      -ms-border-radius: 0.8em;
      border-radius: 0.8em; }
      aside .shelters h3 {
        float: left;
        width: 7em;
        font-size: 1.2em;
        margin-top: 0.1em;
        margin-bottom: 0.8em; }
      aside .shelters ul {
        width: 157px;
        float: right;
        padding-top: 2em; }
      aside .shelters li {
        float: left; }
      aside .shelters a {
        text-align: right;
        display: block;
        width: 75px;
        height: 75px;
        color: black;
        font-size: 0.85em; }
      aside .shelters .one,
      aside .shelters .two,
      aside .shelters .three,
      aside .shelters .four {
        -webkit-border-radius: 0.8em;
        -moz-border-radius: 0.8em;
        -ms-border-radius: 0.8em;
        border-radius: 0.8em; }
      aside .shelters .one {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 0.4em;
        margin-bottom: 0.4em; }
      aside .shelters .two {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 0.4em; }
      aside .shelters .three {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; }
      aside .shelters .four {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 0.4em; } }

/*# sourceMappingURL=application.css.map */
