/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(reset.css);
body {
  font-size: 0.625em;
  max-width: 130em;
  font-family: helvetica;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  body h1,
  body h2,
  body a,
  body p {
    line-height: 1.4em;
    text-align: justify; }
  body a {
    text-decoration: none;
    color: #60B6FF;
    font-weight: bold; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (min-width: 400px) and (max-width: 699px) {
  .main {
    width: 90%;
    margin: 0 auto; }

  .navbar {
    background-color: #366080;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 1.7em; }
    .navbar ul {
      margin-left: 5%;
      margin-right: 5%; }
    .navbar li {
      font-size: 0.9em;
      display: inline-block; }
    .navbar li:last-of-type {
      padding-right: 0; }

  .jumbotron {
    background-image: url("/assets/lower_bolton_lake.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 8.6em;
    padding-top: 4em; }
    .jumbotron .logo {
      padding: 0 0 0 0em;
      width: 65%;
      height: 2.2em;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden; }
    .jumbotron h1 {
      display: block;
      font-size: 2.5em;
      margin: -0.245em 0 0 0;
      color: #36607D;
      text-align: right; }
    .jumbotron .tag-line {
      margin-top: 0.5em;
      margin-left: 5%;
      width: 65%;
      height: 1em;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden; }
    .jumbotron p {
      font-size: 0.9em;
      margin: -0.15em 0.2em -0.3em 0;
      color: #36607D;
      text-align: right; }

  .container {
    width: 100%; }

  article {
    width: 100%; }

  .content {
    margin: 0.3em;
    padding: 1.1em; }
    .content img {
      width: 70%;
      margin: 0 15%;
      padding-bottom: 0.4em;
      -webkit-border-radius: 1.3em;
      -moz-border-radius: 1.3em;
      -ms-border-radius: 1.3em;
      border-radius: 1.3em; }
    .content h2 {
      font-size: 1.6em;
      margin-bottom: 0.6em;
      text-align: center; }
    .content p {
      font-size: 0.8em;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      text-overflow: hidden;
      text-indent: 1.4em;
      margin-top: 0.3em; }

  aside {
    width: 90%; }
    aside .closures {
      width: 90%;
      overflow: hidden;
      float: left;
      margin-top: 1.3em;
      margin-left: 10%; }
      aside .closures h3 {
        float: left;
        font-size: 1.2em;
        margin-top: 0.4em;
        margin-bottom: 0.8em; }
      aside .closures ul {
        margin-top: 0.4em;
        float: right; }
      aside .closures a {
        display: block;
        margin-bottom: 0.4em;
        color: gray;
        font-size: 0.8em;
        text-align: right; }
    aside .shelters {
      width: 90%;
      overflow: hidden;
      float: left;
      margin-top: 1.3em;
      margin-left: 10%; }
      aside .shelters h3 {
        float: left;
        width: 3em;
        font-size: 1.2em;
        margin-top: 0.4em;
        margin-bottom: 0.8em; }
      aside .shelters ul {
        width: 157px;
        float: right; }
      aside .shelters li {
        float: left; }
      aside .shelters a {
        text-align: right;
        display: block;
        width: 75px;
        height: 75px;
        color: black;
        font-size: 0.8em; }
      aside .shelters .one {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 0.4em;
        margin-bottom: 0.4em; }
      aside .shelters .two {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 0.4em; }
      aside .shelters .three {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; }
      aside .shelters .four {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 0.4em; } }
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .main {
    width: 83.333%;
    margin: 0 auto; }

  .navbar {
    background-color: #366080;
    width: 83.333%;
    margin: 0 auto;
    height: 1.5em; }
    .navbar .right {
      float: right; }
    .navbar li {
      clear: both;
      display: inline-block; }

  aside {
    width: 90%; }
    aside .closures {
      width: 60%;
      overflow: hidden;
      float: left;
      margin-top: 1.3em;
      margin-left: 10%; }
      aside .closures h3 {
        font-size: 1.2em;
        margin-left: 0.6em;
        margin-top: 0.4em;
        margin-bottom: 0.8em; }
      aside .closures a {
        display: block;
        margin-bottom: 0.4em;
        color: gray;
        font-size: 0.8em;
        text-align: right; }
    aside .shelters {
      width: 60%;
      overflow: hidden;
      float: left;
      margin-top: 1.3em;
      margin-left: 10%; }
      aside .shelters h3 {
        font-size: 1.2em;
        margin-left: 0.6em;
        margin-top: 0.4em;
        margin-bottom: 0.8em; }
      aside .shelters ul {
        width: 110px;
        float: right; }
      aside .shelters a {
        text-align: right;
        display: block;
        width: 110px;
        height: 110px;
        margin-bottom: 0.8em;
        color: black;
        font-size: 1.3em; }
      aside .shelters .one {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; }
      aside .shelters .two {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; }
      aside .shelters .three {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; }
      aside .shelters .four {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; } }
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .main {
    width: 83.333%;
    margin: 0 auto; }

  .jumbotron {
    background-image: url("/assets/lower_bolton_lake.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 14em;
    padding-top: 6em; }
    .jumbotron .logo {
      padding: 0 0 0 2em;
      width: 60%;
      height: 3.3em;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden; }
    .jumbotron h1 {
      display: block;
      font-size: 3.7em;
      margin: -0.245em 0 -1em 0;
      color: #36607D;
      text-align: right; }
    .jumbotron .tag-line {
      margin-top: 0.5em;
      margin-left: 10%;
      width: 60%;
      height: 1.45em;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden; }
    .jumbotron p {
      font-size: 1.1em;
      margin: -0.1em 0.2em -0.3em 0;
      color: #36607D;
      text-align: right; }

  .container {
    width: 100%; }

  article {
    width: 60%;
    float: right; }

  .content {
    margin: 0.3em;
    padding: 1.1em; }
    .content img {
      width: 45%;
      float: right;
      margin-left: 0.8em;
      margin-bottom: 0.4em;
      -webkit-border-radius: 1.2em;
      -moz-border-radius: 1.2em;
      -ms-border-radius: 1.2em;
      border-radius: 1.2em; }
    .content h2 {
      font-size: 1.6em;
      margin-bottom: 0.6em;
      font-variant: italic; }
    .content p {
      font-size: 0.85em;
      width: 95%;
      margin-right: 5%;
      text-overflow: hidden;
      text-indent: 1.4em; }

  aside {
    float: left;
    width: 40%; }
    aside .closures {
      width: 60%;
      overflow: hidden;
      float: left;
      margin-top: 1.3em;
      margin-left: 10%; }
      aside .closures h3 {
        font-size: 1.2em;
        margin-left: 0.6em;
        margin-top: 0.4em;
        margin-bottom: 0.8em; }
      aside .closures a {
        display: block;
        margin-bottom: 0.4em;
        color: gray;
        font-size: 0.8em;
        text-align: right; }
    aside .shelters {
      width: 100%;
      overflow: hidden;
      float: left;
      margin-top: 1.3em;
      margin-left: 10%; }
      aside .shelters h3 {
        float: left;
        width: 5em;
        font-size: 1.2em;
        margin-top: 0.4em;
        margin-bottom: 0.8em; }
      aside .shelters ul {
        width: 140px;
        float: right; }
      aside .shelters li {
        float: left;
        margin-bottom: 0.5em; }
      aside .shelters a {
        display: block;
        width: 4.7em;
        height: 4.7em;
        color: black;
        font-size: 0.8em;
        margin-right: 0.5em; }
        aside .shelters a a:nth-of-type(2n) {
          margin-right: 0em; }
      aside .shelters .one {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; }
      aside .shelters .two {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; }
      aside .shelters .three {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; }
      aside .shelters .four {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; }

  .error {
    font-size: 0.8em;
    color: red;
    display: none;
    font-style: italic; } }
@media screen and (min-width: 1001px) and (max-width: 1300px) {
  .main {
    width: 83.333%;
    margin: 0 auto; }

  .navbar {
    background-color: #366080;
    width: 83.333%;
    margin: 0 auto;
    height: 1.5em; }
    .navbar .right {
      float: right; }
    .navbar li {
      clear: both;
      display: inline-block; } }
@media screen and (min-width: 1001px) and (max-width: 1300px) {
  .main {
    width: 83.333%;
    margin: 0 auto; }

  .jumbotron {
    background-image: url("/assets/lower_bolton_lake.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 20em;
    padding-top: 6em; }
    .jumbotron .logo {
      padding: 0 0 0 2em;
      width: 60%;
      height: 3.8em;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden; }
    .jumbotron h1 {
      display: block;
      font-size: 5em;
      margin: -0.31em 0 -0.5em 0;
      color: #36607D;
      text-align: right; }
    .jumbotron .tag-line {
      margin-top: 0.5em;
      margin-left: 10%;
      width: 60%;
      height: 1.45em;
      background-color: rgba(255, 255, 255, 0.8);
      overflow: hidden; }
    .jumbotron p {
      font-size: 1.35em;
      margin: -0.17em 0.2em -0.3em 0;
      color: #36607D;
      text-align: right; }

  .container {
    width: 100%; }

  article {
    width: 60%;
    float: right; }

  .content {
    margin: 0.3em;
    padding: 1.1em; }
    .content img {
      width: 45%;
      float: right;
      margin-left: 0.8em;
      margin-bottom: 0.4em;
      -webkit-border-radius: 1.2em;
      -moz-border-radius: 1.2em;
      -ms-border-radius: 1.2em;
      border-radius: 1.2em; }
    .content h2 {
      font-size: 1.6em;
      margin-bottom: 0.6em;
      font-variant: italic; }
    .content p {
      font-size: 0.85em;
      width: 95%;
      text-overflow: hidden;
      text-indent: 1.4em; }

  .current {
    width: 36.35em;
    overflow: hidden; }
    .current h3 {
      font-size: 1.3em; }
    .current ul {
      margin-left: 4em; }
    .current li {
      float: left;
      margin: 0.8em 0 0.8em 1em; }
    .current a {
      display: inline-block;
      width: 110px;
      height: 110px;
      color: white;
      font-size: 1.6em; }
    .current .one {
      background-image: url("/assets/tile.jpg");
      background-size: contain;
      background-repeat: no-repeat; }
    .current .two {
      background-image: url("/assets/tile.jpg");
      background-size: contain;
      background-repeat: no-repeat; }
    .current .three {
      background-image: url("/assets/tile.jpg");
      background-size: contain;
      background-repeat: no-repeat; }
    .current .four {
      background-image: url("/assets/tile.jpg");
      background-size: contain;
      background-repeat: no-repeat; }

  aside {
    float: left;
    width: 40%; }
    aside .closures {
      width: 60%;
      overflow: hidden;
      float: left;
      margin-top: 1.3em;
      margin-left: 10%; }
      aside .closures h3 {
        font-size: 1.2em;
        margin-left: 0.6em;
        margin-top: 0.4em;
        margin-bottom: 0.8em; }
      aside .closures a {
        display: block;
        margin-bottom: 0.4em;
        color: gray;
        font-size: 0.8em;
        text-align: right; }
    aside .shelters {
      width: 60%;
      overflow: hidden;
      float: left;
      margin-top: 1.3em;
      margin-left: 10%; }
      aside .shelters h3 {
        font-size: 1.2em;
        margin-left: 0.6em;
        margin-top: 0.4em;
        margin-bottom: 0.8em; }
      aside .shelters ul {
        width: 110px;
        float: right; }
      aside .shelters a {
        text-align: right;
        display: block;
        width: 110px;
        height: 110px;
        margin-bottom: 0.8em;
        color: black;
        font-size: 1.3em; }
      aside .shelters .one {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; }
      aside .shelters .two {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; }
      aside .shelters .three {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; }
      aside .shelters .four {
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/assets/tile.jpg");
        background-size: contain;
        background-repeat: no-repeat; } }

/*# sourceMappingURL=application.css.map */
