/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "reset.css";

$global:0.625em;
$max:130em;

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

body {
	font-size:$global;
	max-width:$max;
	font-family: helvetica;
	@include box-sizing(border-box);
	line-height: 1.4em;
	a {
		text-decoration: none;
		color: #4989C1;
		font-weight: bold;
	}
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

@media screen and (max-width:50em){
	nav {
		min-height: 4em;
		background-color: #36607D;

	}
	.jumbotron {
		background: url('../images/JBG_austin_flooding10.JPG');
		background-size: cover;
		background-repeat: no-repeat;
		h1 {
			font-size: 4em;
			color: #A9CBBE;
		}
		p {
			font-size: 1.1em;
			color: #A9CBBE;
		}
	}
	.content {
		img {
			float: right;
		}
		h2 {
			font-size: 2.5em;
			color: #5b6165;
		}
	}
}





