@import "reset.css";

//=======================================================================

//------------------------------- partials ------------------------------

//=======================================================================

$global:1em;
$max:130em;
$curve:0.8em;
$beige:#A67B4D;
$navy:#366080;
$blue:#67b6eb;
$from: rgba(54,95,125,1);
$to: rgba(0,32,54,1);
@mixin linear-gradient($fromColor, $toColor) {
	background: rgb(54,95,125); /* Old browsers */
	background: -moz-linear-gradient(top, $fromColor 0%, $toColor 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$fromColor), color-stop(100%,$toColor)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $fromColor 0%,$toColor 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $fromColor 0%,$toColor 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $fromColor 0%,$toColor 100%); /* IE10+ */
	background: linear-gradient(to bottom, $fromColor 0%,$toColor 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#365f7d', endColorstr='#002036',GradientType=0 ); /* IE6-9 */
}

//=======================================================================

//------------------------------- mixins --------------------------------

//=======================================================================

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

// full border
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// bottom border only
@mixin border-bottom($radius) {
	-webkit-border-bottom-right-radius: $radius;
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-bottomright: $radius;
	-moz-border-radius-bottomleft: $radius;
	border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
}

// right border only
@mixin border-right($radius) {
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-bottomright: $radius;
	border-bottom-right-radius: $radius;
}

// left border only
@mixin border-left($radius) {
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-bottomleft: $radius;
	border-bottom-left-radius: $radius;
}

// top borders only
@mixin border-top($radius) {
	-webkit-border-top-left-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-topright: $radius;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}


@mixin button{
	.button {
	   border-top: 1px solid #4abaff;
	   border-right: 1px solid rgba(74,186,255,0.6);
	   background: #002036;
	   background: -webkit-gradient(linear, left top, left bottom, from(#365f7d), to(#002036));
	   background: -webkit-linear-gradient(top, #365f7d, #002036);
	   background: -moz-linear-gradient(top, #365f7d, #002036);
	   background: -ms-linear-gradient(top, #365f7d, #002036);
	   background: -o-linear-gradient(top, #365f7d, #002036);
	   padding: 0.406em 0.813em;
	   -webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	   border-radius: 0px;
	   // -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   // -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   // box-shadow: rgba(0,0,0,1) 0 1px 0;
	   text-shadow: rgba(0,0,0,.4) 0 1px 0;
	   color: #67b6db;
	   // font-size: 15px;
	   font-family: Georgia, serif;
	   text-decoration: none;
	   vertical-align: middle;
	   text-align: center;
	}
	.button:last-of-type {
		border-right: 0;
	}
	.button:hover {
	   border-top-color: #366080;
	   background: #366080;
	   color: #ccc;
	}
	.button:active {
	   border-top-color: #828c92;
	   background: #828c92;
	}
}

//=======================================================================

//------------------------------ Global Tags ----------------------------

//=======================================================================
body {
	font-size:$global;
	max-width:$max;
	font-family: helvetica;
	// background-image: url('/assets/3332476819_d68a51552a_o.jpg');
	// background-size:cover;
	// background-repeat:no-repeat;
	// background-attachment:fixed;
	// background-color: rgba(169,203,190,0.4);
	h1,
	h2,
	a,
	p {
		line-height:1.4em;
		text-align: justify;
	}

	@include box-sizing(border-box);
	p,
	a {
		font-family: "lexia", serif;
	}
	h2, 
	h3 {
		color: $beige;
		font-family: "proxima-nova",serif;
	}
	a {
		text-decoration: none;
		color: $beige;
	}
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

//=======================================================================

//------------------- Beginning of Media Queries ------------------------

//=======================================================================

@media screen and (min-width:320px) and (max-width:699px){
	.main {
		width: 90%;
		margin: 0 auto;
	}
	.navbar {
		width:90%;
		margin: 0 auto;
		height:2em;
		@include linear-gradient($from, $to);
		@include button;
		.button {
			font-size: 0.8em;
			padding: 0.6em 0.2em;
			border-top:none;
		}
		li {
			display: inline-block;
		}
		.left {
			// margin-left:2%;
			float: left;
		}
		.right {
			// margin-right: 2%;
			float: right;
		}
	}
	.jumbotron {
		background-image: url('/assets/lower_bolton_lake.jpg');
		background-size: cover;
		background-position:bottom center;
		background-repeat: no-repeat;
		height:8.6em;
		padding-top:4em;
		@include border-bottom($curve*1.7);
		.logo {
			padding:0 0 0 0em;
			width: 65%;
			height: 2.2em;
			background-color: rgba(255,255,255,0.8);
			overflow: hidden;
		}
		h1 {
			display: block;
			font-size: 2em;
			margin: -0.15em 0.08em 0 0;
			color:#36607D;
			text-align: right;
			font-family: "lobster";

		}
		.tag-line {
			margin-top: 0.5em;
			margin-left: 9%;
			width: 70%;
			height:1em;
			// background-color: rgba(169,203,190,0.8);
			background-color: rgba(255,255,255,0.8);
			overflow: hidden;
		}
		p {
			font-size: 0.7em;
			margin: -0.0em 0.2em -0.3em 0;
			color: #36607D;
			// margin-left:55%;
			text-align: right;
		}
	}
	.login-tron {
		background-image: url('/assets/grass-small.jpg');
		background-size: cover;
		background-position:bottom center;
		background-repeat: no-repeat;
		height:8.6em;
		padding-top:4em;
		@include border-bottom($curve*1.7);
		.logo {
			padding:0 0 0 0em;
			width: 45%;
			height: 2.2em;
			background-color: rgba(255,255,255,0.4);
			overflow: hidden;
		}
		h1 {
			display: block;
			font-size: 2em;
			margin: -0.245em 0.08em 0 0;
			color:#FFECD3;
			text-align: right;
			font-family: "lobster";

		}
	}
	.map-tron {
		background-image: url('/assets/grass-small.jpg');
		background-size: cover;
		background-position:bottom center;
		background-repeat: no-repeat;
		height:8.6em;
		padding-top:4em;
		@include border-bottom($curve*1.7);
		.logo {
			padding:0 0 0 0em;
			width: 45%;
			height: 2.2em;
			background-color: rgba(255,255,255,0.4);
			overflow: hidden;
		}
		h1 {
			display: block;
			font-size: 2em;
			margin: -0.245em 0.08em 0 0;
			color:#FFECD3;
			text-align: right;
			font-family: "lobster";

		}
	}
	.container {
		width: 100%;
	}
	article {
		width: 100%;
	}
	.content {
		margin:0.3em;
		padding:1.1em;

		img {
			width: 70%;
			margin:0 15%;
			padding-bottom:0.4em;
			@include border-radius($curve);
		}
		h2 {
			font-size: 1.6em;
			margin-bottom:0.6em;
			text-align: center;

		}
		p {
			// float: left;
			font-size: 0.7em;
    		width: 90%;
    		margin-left: 5%;
    		margin-right: 5%;
    		text-overflow: hidden;
    		text-indent: 1.4em;
    		margin-top: 0.3em;
		}

	}
	aside {
		width:90%;
		.closures {
			// background-color:gray;
			width: 90%;
			overflow: hidden;
			float: left;
			margin-top: 1.3em;
			margin-left: 10%;
			border: 2px solid #828C92;
			padding:0.4em;
			@include border-radius($curve);
			h3 {
				float: left;
				font-size: 1.2em;
				// margin-left: 0.2em;
				margin-top: 0.1em;
				margin-bottom: 0.8em;
			}
			ul {
				margin-top: 0.4em;
				float:right;
				padding-top: 4em;
			}
			a {
				display: block;
				margin-bottom: 0.1em;
				color:gray;
				font-size: 0.8em;
				text-align: right;
			}
		}
		.shelters {
			// background-color:gray;
			width: 90%;
			overflow: hidden;
			float: right;
			margin-top: 1.5em;
			margin-left: 10%;
			margin-bottom: 3em;
			border: 2px solid #828C92;
			padding:0.4em;
			@include border-radius($curve);
			h3 {
				float:left;
				width: 7em;
				font-size: 1.2em;
				// margin-left: 0.6em;
				margin-top: 0.1em;
				margin-bottom: 0.8em;
			}
			ul {
				width: 157px;
				float: right;
				padding-top: 4em;
			}
			li {
				float: left;
			}
			a {
				text-align: right;
				display: block;
				width: 75px;
				height:75px;
				color:black;
				font-size: 0.85em;
			}
			.one, 
			.two, 
			.three, 
			.four {
				@include border-radius($curve);
			}
			.one {
				background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('/assets/tile.jpg');
				background-size:contain;
				background-repeat:no-repeat;
				margin-right: 0.4em;
				margin-bottom: 0.4em;
			}
			.two {
				background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('/assets/tile.jpg');
				background-size:contain;
				background-repeat:no-repeat;
				margin-bottom: 0.4em;
			}
			.three {
				background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('/assets/tile.jpg');
				background-size:contain;
				background-repeat:no-repeat;

			}
			.four {
				background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('/assets/tile.jpg');
				background-size:contain;
				background-repeat:no-repeat;
				margin-left:0.4em;
			}
		}
	}
	.login-input {
		width: 60%;
		margin: 3em auto 0 auto;
		background-color: rgba(255,236,214,0.3);
		border: 2px solid #828C92;
		padding:0.4em;
		@include border-radius($curve);
		h2 {
			text-align: center;
		}
		.userBox,
		.passBox {
			display: block;
			margin: 0.7em auto 0 0.7em;
		}
		.logButton {
			display: block;
			margin: 0.7em auto 0 auto;
		}
	}
	.login-signup {
		width: 60%;
		margin: 1.5em auto 0 auto;
		background-color: rgba(255,236,214,0.3);
		border: 2px solid #828C92;
		padding:0.4em;
		@include border-radius($curve);
		h2 {
			text-align: center;
		}
		.firstName, 
		.lastName, 
		.username,
		.email, 
		.password {
			display: block;
			margin: 0.7em auto 0 0.7em;
		}
		.signButton {
			display: block;
			margin: 0.7em auto 0 auto;
		}
	}
	.error {
		font-size: 0.8em;
		color:red;
		display:none;
		font-style: italic;
	}
	.forumBox {
		margin-top: 3em;
	}
	.forums {
		width: 90%;
		margin: 0 auto;
		.forum-tron {
			background-image: url('/assets/destroyed-small.jpg');
			background-size: cover;
			background-position:center;
			background-repeat: no-repeat;
			height:12em;
			padding-top:8.5em;
			// @include border-bottom($curve*1.7);
			.logo {
				padding:0 0 0 0em;
				width: 45%;
				height: 2.2em;
				background-color: rgba(255,255,255,0.2);
				overflow: hidden;
			}
			h1 {
				display: block;
				font-size: 2em;
				margin: -0.245em 0.08em 0 0;
				color:#FFECD3;
				text-align: right;
				font-family: "lobster";

			}
		}
		.forum-select {
			@include button;
			.left {
				@include border-left($curve*1.2);
			}
			.right {
				@include border-right($curve*1.2);
			}
			li {
				width:25%;
				display: inline-block;
			}
			a {
				// padding-top: 1em;
				display: inline-block;
				width:5em;
				font-size: 0.8em;
			}
		}

		.chats {
			display: block;
			margin: 1em auto 0 auto;
			width: 80%;
			height:10em;
			background-color: rgba(255,236,214,0.3);
			border: 2px solid #828C92;
			padding:0.4em;
			@include border-radius($curve);
		}
		.forum-input {
			width: 80%;
			margin: 1em auto;
			form {
				margin-left:6.3em;
			}
		}
	}
	footer {
		clear: both;
		width:90%;
		margin: 4em auto 0 auto;
		background-color:#FFECD6;
		height:6em;
		@include border-top($curve*1.7);
		div {
			width: 70%;
			margin: 0 auto;
		}
		ul {
			padding-top:1em;
		}
		li {
			text-align: center;
			padding:0.2em;
		}
		.footer-logo a {
			font-family: "lobster";
			font-size: 1.1em;
			text-align: center;
		}
		a {
			font-size: 0.8em;
		}
		em {
			font-size: 0.7em;
		}
	}
}

//=======================================================================

//-------------------------------End of Query ---------------------------

//=======================================================================

@media screen and (min-width:700px) and (max-width:1000px){
	.main {
		width: 83.333%;
		margin: 0 auto;
	}
	.navbar {
		width:83.333%;
		margin: 0 auto;
		height:2.81em;
		@include linear-gradient($from, $to);
		@include button;
		.button {
			font-size: 1.1em;
			padding: 0.6em 0.6em;
			border-top:none;
		}
		li {
			display: inline-block;
		}
		.left {
			margin-left:2%;
			float: left;
		}
		.right {
			margin-right: 2%;
			float: right;
		}
	}
	.jumbotron {
		background-image: url('/assets/lower_bolton_lake.jpg');
		background-size: cover;
		background-position:bottom center;
		height:14em;
		padding-top:6em;
		@include border-bottom($curve*1.7);
		.logo {
			padding:0 0 0 2em;
			width: 60%;
			height: 3.3em;
			// background-color: rgba(169,203,190,0.8);
			background-color: rgba(255,255,255,0.8);
			overflow: hidden;
		}
		h1 {
			display: block;
			font-size: 3.7em;
			margin: -0.245em 0.1em -1em 0;
			color:#36607D;
			text-align: right;
			font-family: "lobster", serif;

		}
		.tag-line {
			margin-top: 0.5em;
			margin-left: 10%;
			width: 60%;
			height:1.45em;
			// background-color: rgba(169,203,190,0.8);
			background-color: rgba(255,255,255,0.8);
			overflow: hidden;
		}
		p {
			font-size: 1.1em;
			margin: -0.1em 0.2em -0.3em 0;
			color: #36607D;
			// margin-left:55%;
			text-align: right;
		}
	}
	.login-tron {
		background-image: url('/assets/grass-large.jpg');
		background-size: cover;
		background-position:bottom center;
		height:14em;
		padding-top:6em;
		@include border-bottom($curve*1.7);
		.logo {
			padding:0 0 0 2em;
			width: 50%;
			height: 4.2em;
			// background-color: rgba(169,203,190,0.8);
			background-color: rgba(255,255,255,0.4);
			overflow: hidden;
		}
		h1 {
			display: block;
			font-size: 3.7em;
			margin: -0.245em 0.1em -1em 0;
			color:#FFECD3;
			text-align: right;
			font-family: "lobster", serif;

		}
	}
	.container {
		width: 100%;
	}
	article {
		width: 60%;
		float: right;
	}
	.content {
		margin:0.3em;
		padding:1.1em;
		margin-bottom: 3em;
		img {
			width: 45%;
			float:right;
			margin-left: 0.8em;
			margin-bottom:0.4em;
			@include border-radius($curve);
		}
		h2 {
			font-size: 1.6em;
			margin-bottom:0.6em;
			font-variant: italic;
			padding-left:0.6em;

		}
		p {
			font-size: 0.85em;
    		width: 95%;
    		margin-right: 5%;
    		text-overflow: hidden;
    		text-indent: 1.4em;
		}

	}
	aside {
	// 	float: left;
		width:30%;
		.closures {
			// background-color:gray;
			width: 95%;
			overflow: hidden;
			float: left;
			margin-top: 1.3em;
			margin-left: 5%;
			border: 2px solid #828C92;
			padding:0.4em;
			@include border-radius($curve);
			h3 {
				float: left;
				font-size: 1.2em;
				// margin-left: 0.2em;
				margin-top: 0.1em;
				margin-bottom: 0.8em;
			}
			ul {
				margin-top: 0.4em;
				float:right;
				padding-top: 4em;
			}
			a {
				display: block;
				margin-bottom: 0.1em;
				color:gray;
				font-size: 0.8em;
				text-align: right;
			}
		}
		.shelters {
			// background-color:gray;
			width: 95%;
			overflow: hidden;
			float: right;
			margin-top: 1.5em;
			margin-left: 5%;
			border: 2px solid #828C92;
			padding:0.4em;
			@include border-radius($curve);
			h3 {
				float:left;
				width: 7em;
				font-size: 1.2em;
				// margin-left: 0.6em;
				margin-top: 0.1em;
				margin-bottom: 0.8em;
			}
			ul {
				width: 157px;
				float: right;
				padding-top: 2em;
			}
			li {
				float: left;
			}
			a {
				text-align: right;
				display: block;
				width: 75px;
				height:75px;
				color:black;
				font-size: 0.85em;
			}

			.one,
			.two,
			.three,
			.four {
				@include border-radius($curve);
			}

			.one {
				background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('/assets/tile.jpg');
				background-size:contain;
				background-repeat:no-repeat;
				margin-right: 0.4em;
				margin-bottom: 0.4em;
				// @include border-radius(3em);
			}
			.two {
				background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('/assets/tile.jpg');
				background-size:contain;
				background-repeat:no-repeat;
				margin-bottom: 0.4em;
				// @include border-radius(3em);
			}
			.three {
				background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('/assets/tile.jpg');
				background-size:contain;
				background-repeat:no-repeat;
				// @include border-radius(3em);

			}
			.four {
				background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('/assets/tile.jpg');
				background-size:contain;
				background-repeat:no-repeat;
				margin-left:0.4em;
				// @include border-radius(3em);
			}
		}
	}
	.login-input {
		width: 35%;
		float:left;
		margin: 3em 5% 0 10%;
		background-color: rgba(255,236,214,0.3);
		border: 2px solid #828C92;
		padding:0.4em;
		@include border-radius($curve);
		h2 {
			text-align: center;
		}
		.userBox,
		.passBox {
			display: block;
			margin: 0.7em auto 0 0.7em;
		}
		.logButton {
			display: block;
			margin: 0.7em auto 0 auto;
		}
	}
	.login-signup {
		width: 35%;
		float:left;
		margin: 3em 10% 5em 5%;
		background-color: rgba(255,236,214,0.3);
		border: 2px solid #828C92;
		padding:0.4em;
		@include border-radius($curve);
		h2 {
			text-align: center;
		}
		.firstName, 
		.lastName, 
		.username,
		.email, 
		.password {
			display: block;
			margin: 0.7em auto 0 0.7em;
		}
		.signButton {
			display: block;
			margin: 0.7em auto 0 auto;
		}
	}
	.error {
		font-size: 0.8em;
		color:red;
		display:none;
		font-style: italic;
	}
	.forums {
		width: 83.333%;
		margin: 0 auto;
		.forum-tron {
			background-image: url('/assets/destroyed-large.jpg');
			background-size: cover;
			background-position:center;
			background-repeat: no-repeat;
			height:18em;
			padding-top:12em;
			// @include border-bottom($curve*1.7);
			.logo {
				padding:0 0 0 0em;
				width: 45%;
				height: 4.2em;
				background-color: rgba(255,255,255,0.2);
				overflow: hidden;
			}
			h1 {
				display: block;
				font-size: 4em;
				margin: -0.245em 0.08em 0 0;
				color:#FFECD3;
				text-align: right;
				font-family: "lobster";

			}
		}
		.forumBox {
			margin:3em auto 3em auto;
		}
		.chats {
			display: block;
			margin: 1em auto 0 auto;
			background-color:#357230;
			width: 80%;
			height:20em;
		}
		.forum-select {

			@include button;
			.left {
				@include border-left($curve*1.7);
			}
			.right {
				@include border-right($curve*1.7);
			}
			li {
				width:25%;
				display: inline-block;
			}
			a {
				// padding-top: 1em;
				display: inline-block;
				width:5em;
				font-size: 1.1em;
			}
		}

		.chats {
			display: block;
			margin: 1em auto 0 auto;
			width: 80%;
			height:13em;
			background-color: rgba(255,236,214,0.3);
			border: 2px solid #828C92;
			padding:0.4em;
			@include border-radius($curve);
		}
		.forum-input {
			width: 80%;
			margin: 1em auto;
			form {
				margin-left:12em;
			}
		}
	}
	footer {
		clear: both;
		width:90%;
		margin: 4em auto 0 auto;
		background-color:#FFECD6;
		height:6em;
		@include border-top($curve*1.7);
		div {
			width: 80%;
			margin: 0 auto;
			text-align: center;
		}
		ul {
			padding-top:2.2em;
		}
		li {
			display: inline-block;
			padding:0.5em;
		}
		.footer-logo a {
			font-family: "lobster";
			font-size: 1.4em;
			text-align: center;
		}
		a {
			font-size: 01.1em;
		}
		em {
			font-size: 0.8em;
		}
	}

}

//=======================================================================

//-------------------------------End of Query ---------------------------

//=======================================================================


@media screen and (min-width:1001px) and (max-width:1300px){
	.main {
		width: 83.333%;
		margin: 0 auto;
	}
	.navbar {
		width:83.333%;
		margin: 0 auto;
		height:3.2em;
		@include linear-gradient($from, $to);
		@include button;
		.button {
			font-size: 1.23em;
			padding: 0.6em 0.8em;
			border-top:none;
		}
		li {
			display: inline-block;
		}
		.left {
			margin-left:2%;
			float: left;
		}
		.right {
			margin-right: 2%;
			float: right;
		}
	}
	.jumbotron {
		background-image: url('/assets/lower_bolton_lake.jpg');
		background-size: cover;
		background-position:bottom center;
		height:20.1em;
		padding-top:12em;
		@include border-bottom($curve*1.7);
		.logo {
			padding:0 0 0 2em;
			width: 60%;
			height: 4.1em;
			// background-color: rgba(169,203,190,0.8);
			background-color: rgba(255,255,255,0.8);
			overflow: hidden;
		}
		h1 {
			display: block;
			font-size: 5em;
			margin: -0.29em 0.08em -0.5em 0;
			color:#36607D;
			text-align: right;
			font-family: "lobster",serif;

		}
		.tag-line {
			margin-top: 0.5em;
			margin-left: 10%;
			width: 60%;
			height:1.45em;
			// background-color: rgba(169,203,190,0.8);
			background-color: rgba(255,255,255,0.8);
			overflow: hidden;
		}
		p {
			font-size: 1.35em;
			margin: -0.17em 0.2em -0.3em 0;
			color: #36607D;
			// margin-left:55%;
			text-align: right;
		}
	}
	.login-tron {
		background-image: url('/assets/grass-small.jpg');
		background-size: cover;
		background-position:bottom center;
		height:20.1em;
		padding-top:12em;
		@include border-bottom($curve*1.7);
		.logo {
			padding:0 0 0 2em;
			width: 45%;
			height: 5.5em;
			// background-color: rgba(169,203,190,0.8);
			background-color: rgba(255,255,255,0.4);
			overflow: hidden;
		}
		h1 {
			display: block;
			font-size: 5em;
			margin: -0.26em 0.08em -0.5em 0;
			color:#FFECD3;
			text-align: right;
			font-family: "lobster",serif;

		}
	}
	.container {
		width: 100%;
	}
	article {
		width: 60%;
		float: right;
	}
	.content {
		margin:0.3em;
		padding:1.1em;

		img {
			width: 45%;
			float: right;
			margin-left: 0.8em;
			margin-bottom:0.4em;
			@include border-radius($curve);
		}
		h2 {
			font-size: 1.6em;
			margin-bottom:0.6em;
			font-variant: italic;

		}
		p {
			font-size: 0.85em;
    		width: 95%;
    		text-overflow: hidden;
    		text-indent: 1.4em;
		}

	}
	aside {
		width:30%;
		.closures {
			// background-color:gray;
			width: 100%;
			overflow: hidden;
			float: left;
			margin-top: 1.3em;
			margin-left: 10%;
			border: 2px solid #828C92;
			padding:0.4em;
			@include border-radius($curve);
			h3 {
				float: left;
				font-size: 1.2em;
				// margin-left: 0.2em;
				margin-top: 0.1em;
				margin-bottom: 0.8em;
			}
			ul {
				margin-top: 0.4em;
				float:right;
				padding-top: 4em;
			}
			a {
				display: block;
				margin-bottom: 0.1em;
				color:gray;
				font-size: 0.8em;
				text-align: right;
			}
		}
		.shelters {
			// background-color:gray;
			width: 100%;
			overflow: hidden;
			float: left;
			margin-top: 1.5em;
			margin-left: 10%;
			border: 2px solid #828C92;
			padding:0.4em;
			@include border-radius($curve);
			h3 {
				float:left;
				width: 7em;
				font-size: 1.2em;
				// margin-left: 0.6em;
				margin-top: 0.1em;
				margin-bottom: 0.8em;
			}
			ul {
				width: 157px;
				float: right;
				padding-top: 2em;
			}
			li {
				float: left;
			}
			a {
				text-align: right;
				display: block;
				width: 75px;
				height:75px;
				color:black;
				font-size: 0.85em;
			}

			.one,
			.two,
			.three,
			.four {
				@include border-radius($curve);
			}

			.one {
				background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('/assets/tile.jpg');
				background-size:contain;
				background-repeat:no-repeat;
				margin-right: 0.4em;
				margin-bottom: 0.4em;
				// @include border-radius(3em);
			}
			.two {
				background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('/assets/tile.jpg');
				background-size:contain;
				background-repeat:no-repeat;
				margin-bottom: 0.4em;
				// @include border-radius(3em);
			}
			.three {
				background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('/assets/tile.jpg');
				background-size:contain;
				background-repeat:no-repeat;
				// @include border-radius(3em);

			}
			.four {
				background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url('/assets/tile.jpg');
				background-size:contain;
				background-repeat:no-repeat;
				margin-left:0.4em;
				// @include border-radius(3em);
			}
		}
	}
	.login-input {
		width: 30%;
		float:left;
		margin: 3em 5% 0 15%;
		background-color: rgba(255,236,214,0.3);
		border: 2px solid #828C92;
		padding:0.4em;
		@include border-radius($curve);
		h2 {
			text-align: center;
		}
		.userBox,
		.passBox {
			display: block;
			margin: 0.7em auto 0 0.7em;
		}
		.logButton {
			display: block;
			margin: 0.7em auto 0 auto;
		}
	}
	.login-signup {
		width: 30%;
		float:left;
		margin: 3em 15% 6em 5%;
		background-color: rgba(255,236,214,0.3);
		border: 2px solid #828C92;
		padding:0.4em;
		@include border-radius($curve);
		h2 {
			text-align: center;
		}
		.firstName, 
		.lastName, 
		.username,
		.email, 
		.password {
			display: block;
			margin: 0.7em auto 0 0.7em;
		}
		.signButton {
			display: block;
			margin: 0.7em auto 0 auto;
		}
	}
	.error {
		font-size: 0.8em;
		color:red;
		display:none;
		font-style: italic;
	}
	.forums {
		width: 83.333%;
		margin: 0 auto;
		.forum-tron {
			background-image: url('/assets/destroyed-large.jpg');
			background-size: cover;
			background-position:center;
			background-repeat: no-repeat;
			height:23em;
			padding-top:15em;
			// @include border-bottom($curve*1.7);
			.logo {
				padding:0 0 0 0em;
				width: 45%;
				height: 5.2em;
				background-color: rgba(255,255,255,0.2);
				overflow: hidden;
			}
			h1 {
				display: block;
				font-size: 5em;
				margin: -0.245em 0.08em 0 0;
				color:#FFECD3;
				text-align: right;
				font-family: "lobster";

			}
		}
		.forumBox {
			margin: 4em auto 2em auto;
		}
		.chats {
			display: block;
			margin: 1em auto 0 auto;
			background-color:#357230;
			width: 80%;
			height:20em;
		}
		.forum-select {

			@include button;
			.left {
				@include border-left($curve*1.7);
			}
			.right {
				@include border-right($curve*1.7);
			}
			li {
				width:25%;
				display: inline-block;
			}
			a {
				// padding-top: 1em;
				display: inline-block;
				width:5em;
				font-size: 1.2em;
			}
		}

		.chats {
			display: block;
			margin: 1em auto 0 auto;
			width: 80%;
			height:15em;
			background-color: rgba(255,236,214,0.3);
			border: 2px solid #828C92;
			padding:0.4em;
			@include border-radius($curve);
		}
		.forum-input {
			width: 80%;
			margin: 1em auto;
			form {
				margin-left:16em;
			}
		}
	}
	footer {
		clear: both;
		width:90%;
		margin: 4em auto 0 auto;
		background-color:#FFECD6;
		height:6em;
		@include border-top($curve*1.7);
		div {
			width: 80%;
			margin: 0 auto;
			text-align: center;
		}
		ul {
			padding-top:1.3em;
		}
		li {
			display: inline-block;
			padding:0.5em;
		}
		.footer-logo a {
			font-family: "lobster";
			font-size: 1.7em;
			text-align: center;
		}
		a {
			font-size: 01.3em;
		}
		em {
			font-size: 0.9em;
		}
	}
}

//=======================================================================

//-------------------------------End of Query ---------------------------

//=======================================================================





