<!DOCTYPE html>
<html>
<head>
  <title>ATX_Flooding</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
	<header>
		<nav>
			<div className="left">
				<img src=""/>
			</div>
			<div className="right">
				<ul>
					<li><a href="#home">Home</a></li>
					<li><a href="#login">Login</a></li>
					<li><a href="#forums">Forums</a></li>
					<li><a href="#search">Search</a></li>
					<li><a href="#profile">Profile</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div id='container'>

	</div>
	<%= javascript_include_tag 'application' %>

  <% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>
</body>
</html>
