<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="//use.typekit.net/tqu3hvz.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc2XC-pGKkj3gdmmDDkXWzC1uBuVbM1_A">
    </script>
	<style type="text/css">
      #mapCanvas { height: 300px; margin: 0; padding: 0; width: 83.333%; margin-right: auto; margin-left: auto}
    </style>
 	<title>ATX_Flooding</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
	<header>
		<nav class="navbar">
			<div>
				<ul class="left">
					<li><a href="#home">Home</a></li>
					<li><a href="#login">Login</a></li>
					<li><a href="#map">Map</a></li>
				</ul>
				<ul class="right">
					<li><a href="#forums">Forums</a></li>
					<li><a href="#search">Search</a></li>
					<li><a href="#profile">Profile</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<section class = "page">
		<div id = "mapCanvas"></div>
		<button id = 'closed'>Closed Low Water Crossings</button>
		<button id = 'all'>All Low Water Crossings</button>
		<input type = 'text' id = 'search' placeholder = 'Search a specific location...'>
		<button id = 'searchButton'>Submit</button>
	</section>
	<div id='container'>

	</div>
	<%= javascript_include_tag 'application' %>

  <% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>
</body>
</html>
