<!DOCTYPE html>
<html>
<head>
  <title>ATX_Flooding</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
	<header>
		<a href = "#home">Home</a>
		<div id = "search">
		</div>
	</header>
	<div id='container'>

	</div>
	<%= javascript_include_tag 'application' %>

  <% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>
</body>
</html>
